:root{
    --brand-color:#2196F3;
    --text-color:#757575;
    --text2-color:#FFFFFF;
    --dominat-color:#212121;
    --butt-color:rgba(255, 255, 255, 0.6);
    --background-color:#E5E5E5;
    --cards-color: #EEEEEE;
    --background-index:#2F303A;
    --iconbg-color:#F5F4FA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.service-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.text-container{
    display: flex;
    margin: 10px;
    height: auto;
    text-align:left;
    padding-left: 0%;
    gap: 30px;
    }

.text-item{
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 90px) / 4);  
}
.ul-footer{
    padding-left: 0px;
    margin: 0px;
}
.log-ubication{
    padding: 0px;
}
.img-container{
    display: flex;
    gap: 23px;
    padding:0;
}

h2{
    text-align: center;
}
.team-conteiner{
    display: flex;
    text-align: center;
    padding: 0px;
    gap: 30px;
    margin: 0px;
}

.team-information{
    padding: 30px 44px;
    
}
.team-item{
    background: var(--text2-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.bggray{background-color: var(--background-color);}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section1{
    padding-top: 94px;
}
.container {
     width: 1200px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}    

.card-item{
    border: 1px solid var(--cards-color);
    flex-basis: calc((100% - 54px) / 3); 
   
}
.card-item:hover,.card-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
} 
.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;
    }

    
.container-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}

.item-btn{margin:4px;
border: 0;
padding: 6px 24px;
}  

header {
    background-color: var(--text2-color);
}

.menu-item,.footer-items{
    display:flex;
    margin: 0;
    padding: 0;}

.menu-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  }

body{
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
    color: var(--dominat-color);
    
}

::-webkit-scrollbar {
    display: none;
}

.card-information{
    padding-top: 20px;
    color: var(--dominat-color);  
}

.img-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    }

.img-subtitle{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 2.5;
margin: 0;
padding-left: 24px;
padding-bottom:20px;
}

.link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--dominat-color);
display:block;
padding-top:24px;
padding-bottom: 25px;
margin-right: 50px;

}

.link:hover, .link:focus, .linkto:hover, .linkto:focus, .colorl:hover, .colorl:focus{
color:var(--brand-color);

}

.mail-ubication:hover, .phone-ubication:hover, .mail-ubication:focus, .phone-ubication:focus{
    stroke: var(--brand-color);
    }

.margin-text{
    margin-right: 50px;
}

.colorl{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--text-color);
padding: 32px 0 32px 0;
}

.here-port, .here-index{
    color:var(--brand-color);
}

.here-port::after{
    content: "";
    width:68px; 
    height:4px; 
    background-color:var(--brand-color);
    display:block; 
    position:absolute; 
    top:76px;
    border-radius: 2px;
}
.here-index::after{
    content: "";
    width:48px; 
    height:4px; 
    background-color:var(--brand-color);
    display:block; 
    position:absolute; 
    top:76px;
    border-radius: 2px;
}
.nav-flex{
    display: flex;
    
}
.webstudio{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--brand-color);

}
.menu-marg{
    margin: 0 93px 0 0;
    padding: 24px 0 25px 0;
}

.focus:hover, .focus:focus{
    color: var(--text2-color);
    background-color: var(--brand-color);
    
    }

.focus{
background: var(--background-color);
}

.butt{

font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--text2-color);
background-color: var(--brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-top: 10px;
padding-bottom: 10px;

}

.blackbackground{
    background-color: var(--background-index) ;
    padding-top:60px;
    padding-bottom:60px;
    
}

.colorw{

font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--text2-color);
text-align: center;

}

.colorw2{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text2-color);
margin: 14px 0 0;

}

.adress-flex{
    display: flex;
}

.linkto{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--butt-color);
}

.button:hover,.button:focus{
    background-color: #1367ac;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button{
    border: none;
    margin-top: 30px;}

.tituloin{
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--dominat-color);
padding-top: 30px;
padding-bottom: 10px;
}

.subtituloin{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}

.titulos2{

font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color:var(--dominat-color);
margin-bottom: 50px;
}
.titleteam{

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--dominat-color);
margin: 0 0 10px 0;
}
.subtitleteam{

    font-family: 'Roboto';
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--text-color);
margin:0;
}

.pointer{ cursor:pointer;}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

.tit2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
padding-bottom: 50px;
}

ul, ol, li {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  .heroe{
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .icon-bg {
    background: var(--iconbg-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    }

.header-contacts{
    display: flex;
    align-items: center;
    align-content: center;
}

.mail-ubication{
    margin-left: 240px;
    margin-right: 10px;
    fill: var(--text-color);
}
.phone-ubication{
    margin-left: 30px;
    margin-right: 10px;
    fill: var(--text-color);
}

.social-media-container{
    display: flex;
    padding-top: 16px;
}

.social-media-icon{
    fill: #AFB1B8;
}
.social-media-icon:hover{
    fill: var(--text2-color);
    border-radius: 50%;
    background-color: var(--brand-color);
    
}

.icon-cliente-regular{

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--iconbg-color);
    width: 170px;
    height: 81px;
    }

.icon-color{
    fill: #AFB1B8;
}

.icon-cliente-regular:hover{
    border: 1px solid var(--brand-color);
    fill: var(--brand-color);
}
.icon-cr-container{
    display: flex;
    
    justify-content: space-between;
}

.icon-hover:hover, .icon-hover:focus{
    fill: var(--brand-color);
    stroke: var(--brand-color);
    }


.footer-container{

    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.encuentranos{

font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--text2-color);
padding-top:12px;

}

.icon-footer{
    fill: white;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    }

.icon-footer:hover,.icon-footer:focus {
    background-color: var(--brand-color);
    }

.icon-footer-container{
    display: flex;
    padding-top: 20px;
    gap:10px;
}

.space{
    margin-right: 60px;
}

.blackbackground2{
    background-color: var(--background-index) ;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.7)), url('../images/Imagen-fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.backgroundg-img1{
    background-image: url(../images/imagen.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
}
.backgroundg-img2{
    background-image: url(../images/imagen2.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
}
.backgroundg-img3{
    background-image: url(../images/imagen3.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
}

.recuadro{
width: 370px;
height: 70px;
background: rgba(47, 48, 58, 0.8);
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text2-color);
padding-top: 27px;
padding-bottom: 27px;
margin-top:254px;
}

.border{
    border-bottom: 1px solid #ECECEC;
}

.header-contacts:hover .mail-ubication, .header-contacts:hover .phone-ubication, .header-contacts:focus .phone-ubication, .header-contacts:focus .mail-ubication {
    stroke: var(--brand-color);
}

.header-contacts:hover .colorl, .header-contacts:focus .colorl{
    color:var(--brand-color);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .overlay {
    transform: translateY(0);
}

.card-item2{
    position: relative;
    margin: 0 auto;
    overflow: hidden;    
    display: flex;
}

.overlay-text{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color:rgba(255, 255, 255, 1);
    padding: 63px 24px;
    }

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.container-box{
    margin-top: 35px;
   }

.box-modal{
    width: 528px ;
    height: 581px ;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
}

.svg-cierre{
    border: 1px solid gray;
    border-radius: 50%;
    margin-top:5px;
    margin-right: 5px;
}

.svg-cierre:hover{
cursor: pointer;
fill: var(--brand-color);   

}

.footer-border{
    width: 826px;
    height: 86px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    align-items: baseline;
      
}

.form-space{
    width: 570px;
    height: auto;
    
  }
  
  .input-size{
    width: 358px;
    height: 50px ;
    padding: 10px;
  }
  
  .form-btn{
   height: 50px;
   width: 200px;
   background-color:var(--brand-color);
   color:white;
   border-radius: 4px;
   padding: 0;
   margin:0;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
  
  }

  .susc-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    

  }
  
.label-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
    
.form-btn:hover{
    cursor: pointer;
}

.signup_form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.self-pos{
    align-self: flex-end;
}

.head-form{
    font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(33, 33, 33, 1);
margin-bottom: 12px;
}

label{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(117, 117, 117, 1);
padding-top: 10px;
padding-bottom: 4px;
position:relative;
}

.signup_form-input{
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    display: block;
    padding-left:42px ;
}

.textarea-width{
    width: 448px;
    height: 120px;
    padding: 16px 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    display: block;
}

.enviar-btn{
background-color: var(--brand-color);
color: #FFFFFF;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
border: none;
border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.enviar-btn:hover{
    cursor:pointer;
    }

input:hover{
cursor: pointer;
}

textarea:hover{
    cursor:pointer;
}

.signup_form-input:focus, textarea:focus,  .signup_form-input:hover, textarea:hover{
    border: 1px solid var(--brand-color);
    outline: none;
}

.signup_form-input:focus + .svg-form,
.signup_form-input:hover + .svg-form
{
    fill: #2196F3;
}

.svg-form{
    position: absolute;
    top: 38px;
    left:12px;
    fill: var(--dominat-color);
}

.send-text-style{
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    padding-left:77px;
    padding-right: 51px;
    padding-top: 20px;
    padding-bottom:10px;
}

.checkbox-container{
    padding-left: 76px;
    padding-right: 51px;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.hidden{ 
    display: none;
}

.checkbox-input:checked + .checkbox-label::before{
    background-image: url(../images/check-icon.jpg);
    border-color: var(--brand-color);
}

.checkbox-label::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--dominat-color);
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    left: -20px;
    top: 10px;
}

.checkbox-label{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}